<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Editar Usuário</title>
  </head>
  <body>
    <div>
      <form action="/me" method="POST">
        <h3>Cookmaster - Editar Usuário</h3>
        <div>
          <div>
            <label for="emailInput">Email: </label>
            <input
              type="text"
              name="email"
              id="emailInput"
              data-testid="email"
              value=<%= user.email %>
            />
            <% if (emailMessage) {%>
            <div>
              <span><%= emailMessage %></span>
            </div>
            <% } %>
          </div>
          <div>
            <label for="passwordInput">Senha: </label>
            <input
              type="password"
              name="password"
              id="passwordInput"
              data-testid="senha"
              value=<%= user.password %>
            />
            <% if (passMessage) {%>
            <div>
              <span><%= passMessage %></span>
            </div>
            <% } %>
          </div>
          <div>
            <label for="confirmPasswordInput">Confirmar senha: </label>
            <input
              type="password"
              name="confirmPassword"
              id="confirmPasswordInput"
              data-testid="confirmar-senha"
            />
            <% if (confirmPassMessage) {%>
            <div>
              <span><%= confirmPassMessage %></span>
            </div>
            <% } %>
          </div>
          <div>
            <label for="firstNameInput">Nome: </label>
            <input
              type="text"
              name="firstName"
              id="firstNameInput"
              data-testid="nome"
              value=<%= user.name %>
            />
            <% if (firstNameMessage) {%>
            <div>
              <span><%= firstNameMessage %></span>
            </div>
            <% } %>
          </div>
          <div>
            <label for="lastNameInput">Sobrenome: </label>
            <input
              type="text"
              name="lastName"
              id="lastNameInput"
              data-testid="sobrenome"
              value=<%= user.lastName %>
            />
            <% if (lastNameMessage) {%>
            <div>
              <span><%= lastNameMessage %></span>
            </div>
            <% } %>
          </div>
        </div>
        <div>
          <div>
            <a href="/" data-testid="cancelar" >Cancelar</a>
            <div>
              <button type="submit" data-testid="salvar">Salvar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
