<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Editar</title>
</head>

<body>
  <div>
    <div class="title">
      <nav class="navbar">
        <h2>Cookmaster</h2></span>
        <% if (!user) { %>
          <span><a href='/login' data-testid="login">Login</a></span>
        <% } else { %>
          <span><a href='/logout' data-testid="logout">Logout</a></span> <br>
        <% } %>
      </nav>
    </div>
    <% if (recipe.userId === user.id) { %>
    <form action=<%=`/recipes/${recipe.id}`%> method="POST" name="recipeForm">
      <h3>Editar Receita</h3>
      <div>
        <div>
          <label for="namelInput">Nome da receita: </label>
          <input type="text" name="name" id="namelInput" data-testid="nome-receita" value="<%= recipe.name %>" />
          <% if (nameMessage) {%>
          <div>
            <span><%= nameMessage %></span>
          </div>
          <% } %>
        </div>
        <div>
          <ul id="ingredientList">
          </ul>
        </div>
        <div>
          <label for="ingredientInput">Adicionar ingrediente: </label>
          <input type="text" name="ingredients" id="ingredientInput" data-testid="ingredientes" />
          <% if (ingredientsMessage) {%>
          <div>
            <span><%= ingredientsMessage %></span>
          </div>
          <% } %>
          <button type="button" data-testid="adicionar-ingrediente" onclick="addIngredient()">
            Adicionar ingrediente
          </button>
        </div>
        <div>
          <label for="ingredientInput">Modo de preparo: </label>
          <textarea data-testid="modo-de-preparo" name="instructions" id="instructions" data-testid="modo-de-preparo">
                <%= `${recipe.instructions}` %>'
              </textarea>
          <% if (instructionsMessage) {%>
          <div>
            <span><%= instructionsMessage %></span>
          </div>
          <% } %>
        </div>
      </div>
      <div>
        <div class="row">
          <a href="/">Voltar</a>
          <div>
            <button type="button" data-testid="postar-receita" onclick="submitRecipe()">
              Salvar receita
            </button>
            <% if (successMessage) {%>
            <div>
              <span><%= successMessage %></span>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </form>
    <% } else { %>
    <span>Sem permissão para editar receitas.</span>
    <% } %>
  </div>
  <script>
    const ingredients = new Set();
    const list = document.getElementById('ingredientList');
    '<%= recipe.ingredients %>'.split(',').forEach((ingredient) => {
      const li = document.createElement('li');
      li.innerHTML = `<span>${ingredient}</span>
          <button
            class="validate waves-effect waves-light btn"
            type="button"
          >
            Excluir Ingrediente
          </button>`;
      li.children[1].onclick = () => {
        li.remove();
        ingredients.delete(li.children[0].textContent);
      };
      list.appendChild(li);
      ingredients.add(ingredient);
    });
    const addIngredient = () => {
      const li = document.createElement('li');
      const ingredientInput = document.getElementById('ingredientInput');
      li.innerHTML = `<span>${ingredientInput.value}</span>
          <button
            class="validate waves-effect waves-light btn"
            type="button"
          >
            Excluir Ingrediente
          </button>`;
      li.children[1].onclick = () => {
        li.remove();
        ingredients.delete(li.children[0].textContent);
      };
      list.appendChild(li);
      ingredients.add(ingredientInput.value);
      ingredientInput.value = '';
    };
    const submitRecipe = () => {
      const ingredientInput = document.getElementById('ingredientInput');
      ingredientInput.value = [...ingredients].join();
      document.recipeForm.submit();
    };
  </script>
</body>
</html>
